#app {
  height: 100vh;
}

body {
  margin: 0;
  background-color: #ffffff;
}

@media (max-width: 560px) {
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #010101;
      color: #fefefe;
    }
  }
}

@media (max-width: 480px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
}
